<!DOCTYPE html>
<html ng-app="chatApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/angular-moment.min.js' %}"></script>
    <script src="{% static 'js/angular-filter.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body ng-controller="messagesController">
{% include 'login.html' %}
{% csrf_token %}
<div ng-app="chatApp">
    <table ng-repeat="message in messages track by $index | groupBy: 'user'">
        <tr>
            Group name: {$ message.user $}
            <td>
                <div class="messageUser">
                    <b>{$ message.user $}</b>:
                </div>
            </td>
            <td>
                <div class="messageMessage">
                    {$ message.message $}
                </div>
            </td>
            <td>
                <div class="messageDateTime">
                    {$ message.date_time | date:'medium'$}
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="send_message">
    {% if user.is_authenticated %}
    <form id="mesage_form" action="" method="post" ng-submit="processForm()">
        {% csrf_token %}
        <input type="text" name="newMessage" id="newMessage" placeholder="Your message" ng-model="message">
        <input type="submit" value="Send">
    </form>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="Log in or sign up to send messages" disabled>
        <input type="submit" value="Send" disabled>
    </form>
    {% endif %}
</div>
</body>
</html>
